<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diploma Main Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-12 col-md-6">
      <form name="loginForm" id="loginForm" >
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" name="login" class="form-control" id="login">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <div class="btn-group d-flex justify-content-center">
            <button class="btn btn-primary" id="loginBtn">Sign In</button>
            <a class="btn btn-secondary" href="reg.html">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <video style="display: none" id="videoel" width="400" height="300" muted autoplay preload="auto" loop></video>
  <div>
    <canvas style="display: none" width="400" height="300"></canvas>
    <div style="display: none" id="spinner" class="loading">Loading&#8230;</div>
  </div>

  <h1 id="secured" style="display: none">
    Some very secured information of "{{login}}" user...
  </h1>
</div>

<script>
    const loginBtn = document.getElementById('loginBtn');
    const vid = document.getElementById('videoel');
    let login;

    loginBtn.addEventListener('click', e => {
        e.preventDefault();

        login = document.getElementById('login').value;
        const password = document.getElementById('password').value;

        return fetch('/api/login-first', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                login,
                password
            })
        })
            .then(res => res.json())
            .then(message => {
                if (message !== 'OK') {
                    alert(message);
                    return;
                }

                document.getElementById('loginForm').style.display = 'none';
                document.querySelector('canvas').style.display = 'block';
                runVideoRecognition();
            })
    });


    function runVideoRecognition() {
        navigator.mediaDevices.getUserMedia({video: true})
            .then(function umSuccess(stream) {
                vid.srcObject = stream;
                vid.play();
                window.requestAnimationFrame(sendFrameLoop);
            })
            .catch(function (err) {
                console.error(err);
                alert("Error fetching video from webcam");
            });


        let isLoggedIt = false;

        function sendFrameLoop() {
            var canvas = document.createElement('canvas');
            canvas.width = vid.width;
            canvas.height = vid.height;
            var cc = canvas.getContext('2d');
            cc.drawImage(vid, 0, 0, vid.width, vid.height);

            var dataURL = canvas.toDataURL('image/jpeg', 1);

            fetch('/api/faces/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'appliction/json'
                },
                body: JSON.stringify({image: dataURL})
            })
                .then(res => res.json())
                .then(preds => {
                    if (!login) return;

                    const canvas = document.querySelector('canvas');
                    const cc = canvas.getContext('2d');

                    cc.drawImage(vid, 0, 0, canvas.width, canvas.height);

                    preds.filter(pred => login === pred.prob[0].id).forEach(pred => {
                        cc.font = "18px Arial";
                        cc.fillStyle = '#00ff00';
                        cc.fillText(pred.prob[0].id + `(${pred.prob[0].p.toFixed(2)})`, pred.box.x, pred.box.y);
                        cc.strokeStyle = '#00ff00';
                        cc.strokeRect(pred.box.x, pred.box.y, pred.box.width, pred.box.height);

                        if (!isLoggedIt) {
                            isLoggedIt = true;
                            document.getElementById('spinner').style.display = 'block';
                            setTimeout(onLoggedIn, 3000);
                        }
                    });

                    preds.filter(pred => login !== pred.prob[0].id).forEach(pred => {
                        cc.font = "18px Arial";
                        cc.fillStyle = '#ff0000';
                        cc.fillText(pred.prob[0].id + `(${pred.prob[0].p.toFixed(2)})`, pred.box.x, pred.box.y);
                        cc.strokeStyle = '#ff0000';
                        cc.strokeRect(pred.box.x, pred.box.y, pred.box.width, pred.box.height);
                    });
                });

            setTimeout(() => window.requestAnimationFrame(sendFrameLoop), 500);
        }

        function onLoggedIn() {
            let securedBlock = document.getElementById('secured');
            document.querySelector('canvas').style.display = 'none';
            securedBlock.style.display = 'block';
            document.getElementById('spinner').style.display = 'none';
            securedBlock.innerText = securedBlock.innerText.replace('{{login}}', login);
        }
    }
</script>


<style>
    /* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>
</body>
</html>